*{
    margin: unset;
    padding: unset;
    list-style: unset;
    text-decoration: unset;
    box-sizing: border-box;
}
.header{
    width: 100%;
    height: 50px;
    display: block;
    background-color: #101010;
}
.inner_header{
    width: 90%;
    height: 100%;
    display: block;
    margin: 0 auto;
}
.logo_container{
    height: 100%;
    display: table;
    float: left;
}
.logo_container h1{
    color: white;
    height: 100%;
    display: table-cell;
    vertical-align: middle;
    font-family: 'Montserrat';
    font-size: 24px;
    font-weight: 200;
}
.logo_container h1 span{
    font-weight: 800;
}
.nav{
    float: right;
    height: 100%;
}
.nav li{
    height: 100%;
    display: table;
    float: left;
    padding: 0px 20px;
}
.nav li:last-child{
    padding-right: 0;
}

nav li a{
    display: table-cell;
    vertical-align: middle;
    height: 100%;
    color: white;
    font-family: 'Montserrat';
    font-size: 16px;
} 
nav li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
/* body{
    font-family: 'Montserrat', sans-serif;
}

*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
}
nav{
    height: 80px;
    background-color: rgb(36, 36, 36);
}
nav .nav_logo{
    width: 150px;
    position: absolute;
    vertical-align: middle;
    top: 21px;
    left: 4%;
    color: white;
    font-size: 30px;
    font-weight: 200;
}
nav .nav_logo span {
    font-weight: 800;
}
nav ul{
    float: right;
    margin-right: 25px;
}
nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 15px;
}
nav ul li a{
    position: relative;
    color: white;
    font-weight: 500;
    font-size: 18px;
    padding: 5px 0;
    text-transform: uppercase;
}
nav ul li a:before{
    position: absolute;
    content: '';
    left: 0;
    bottom: 0;
    height: 3px;
    width: 100%;
    background: white;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform .4s linear;
}
nav ul li a:hover:before{
    transform: scaleX(1);
    transform-origin: left;
}
label #btn,
label #cancel{
    color: white;
    font-size: 30px;
    float: right;
    line-height: 80px;
    margin-right: 40px;
    cursor: pointer;
    display: none;
}
#check{
    display: none;
}
@media (max-width: 1118px) {
    nav .nav_logo{
        left: 8%;
    }
}
label #btn{
    display: block;
}
ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgb(36, 36, 36);
    top: 80px;
    left: -100%;
    text-align: center;
    transition: all .5s;
}
nav ul li{
    display: block;
    margin: 50px 0;
    line-height: 30px;
}
nav ul li a{
    font-size: 17px;
}
#check:checked ~ ul{
    left: 0;
}
#check:checked ~ label #btn{
    display: none;
}
#check:checked ~ label #cancel{
    display: block;
} */
/* @media (max-width: 944px) {
    nav .nav_logo{
        left: 6%;
        top: 20px;
        width: 130px;
    }
    nav ul li a{
        font-size: 17px;
    }
}
@media (max-width: 860px) {
    label #btn{
        display: block;

    }
    ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: rgb(36, 36, 36);
        top: 80px;
        left: -100%;
        text-align: center;
        transition: all .5s;
    }
    nav ul li{
        display: block;
        margin: 50px 0;
        line-height: 30px;
    }
    nav ul li a{
        font-size: 17px;
    }
    #check:checked ~ ul{
        left: 0;
    }
    #check:checked ~ label #btn{
        display: none;
    }
    #check:checked ~ label #cancel{
        display: block;
    }
} */

