*{
    text-decoration: unset;
    padding: unset;
    margin: unset;
}
section{
    padding: 100px;
}
.First_Section{
    background-color: black;
}
.First_Section h1{
    color: white;
}